* {
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.bg-mesh {
  background-color: hsla(229, 64%, 11%, 1);
  background-image: radial-gradient(
      at 0% 0%,
      hsla(152, 81%, 24%, 0.3) 0px,
      transparent 50%
    ),
    radial-gradient(at 89% 100%, hsla(289, 51%, 23%, 1) 0px, transparent 50%),
    radial-gradient(at 29% 68%, hsla(222, 61%, 31%, 1) 0px, transparent 50%),
    radial-gradient(at 89% 34%, hsla(193, 52%, 32%, 1) 0px, transparent 50%);
}
.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}

.content-div:hover {
  background-image: linear-gradient(
    to top,
    rgba(42, 190, 190, 0.694),
    hsla(155, 78%, 16%, 0.811)
  ) !important;
}
.jumbotron {
  background-image: linear-gradient(to left, white, rgb(13, 157, 157));
}

.tech-icons {
  font-size: 80px;
  color: rgb(157, 225, 255);
}

.exp-card:hover {
  box-shadow: -12px 12px 8px 0px;
  transform: translate(10px, -10px);
  transition: 0.5s;
}
.exp-card {
  border: 0.5px solid seashell;
  box-shadow: -4px 4px 6px 0px;
}
